<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="styles/style.css" inline=""/>
  </head>
  <body>
    <style type="text/css">
      body,
      html,
      .body {
        background: #f3f3f3 !important;
      }
      .container.header {
        background: transparent !important;
      }
      .body-drip {
        border-top: 8px solid #663399;
      }
    </style>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <table class="container header">
              <tbody>
              <tr>
                <td>
          
                  <table class="spacer">
                    <tbody>
                    <tr>
                      <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                    </tr>
                    </tbody>
                  </table>
          
                  <table class="row collapse">
                    <tbody>
                    <tr>
                      <th class="small-12 large-12 columns first last">
                        <table>
                          <tr>
                            <th>
                              <img src="http://placehold.it/150x30/663399" alt="">
                            </th>
                            <th class="expander"></th>
                          </tr>
                        </table>
                      </th>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
          
            <table class="container body-drip">
              <tbody>
              <tr>
                <td>
          
                  <table class="spacer">
                    <tbody>
                    <tr>
                      <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                    </tr>
                    </tbody>
                  </table>
          
                  <center data-parsed="">
                    <img src="http://placehold.it/120/663399" alt="" align="center" class="float-center">
                  </center>
          
                  <table class="spacer">
                    <tbody>
                    <tr>
                      <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                    </tr>
                    </tbody>
                  </table>
          
                  <table class="row">
                    <tbody>
                    <tr>
                      <th class="small-12 large-12 columns first last">
                        <table>
                          <tr>
                            <th>
                              <h4 class="text-center">Responsive Emails</h4>
                              <p class="text-center">15 sections | 567 Min</p>
                            </th>
                            <th class="expander"></th>
                          </tr>
                        </table>
                      </th>
                    </tr>
                    </tbody>
                  </table>
          
                  <hr>
          
                  <table class="row">
                    <tbody>
                    <tr>
                      <th class="small-12 large-12 columns first last">
                        <table>
                          <tr>
                            <th>
                              <p class="text-center">Hey you! It&apos;s you! Just a heads up, we just added this hot new class
                                that will teach you how to NOT be a lame as a duck. Not the metaphorical lame duck, either, but a
                                real duck that was actually lame, maybe from stepping on a land mine or something. Anyways,
                                Foundation for Emails makes coding HTML emails like calling the Navy SEALS to invade a Pre-school,
                                with pre-schoolers, armed with Crayolas.</p>
                              <center data-parsed="">
                                <table class="button success float-center">
                                  <tr>
                                    <td>
                                      <table>
                                        <tr>
                                          <td><a href="#">Get smarter now &#x21A3;</a></td>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </table>
                              </center>
                            </th>
                            <th class="expander"></th>
                          </tr>
                        </table>
                      </th>
                    </tr>
                    </tbody>
                  </table>
          
                  <table class="row collapsed footer">
                    <tbody>
                    <tr>
                      <th class="small-12 large-12 columns first last">
                        <table>
                          <tr>
                            <th>
                              <table class="spacer">
                                <tbody>
                                <tr>
                                  <td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td>
                                </tr>
                                </tbody>
                              </table>
                              <p class="text-center">@copywrite nobody<br>
                                <a href="#">hello@nocopywrite.com</a> | <a href="#">Manage Email Notifications</a> | <a href="#">Unsubscribe</a>
                              </p>
                              <center data-parsed="">
                                <table class="menu float-center" align="center">
                                  <tr>
                                    <td>
                                      <table>
                                        <tr>
                                          <th class="menu-item float-center"><a href="undefined"><img
                                                  src="http://placehold.it/25/663399" alt=""></a></th>
                                          <th class="menu-item float-center"><a href="undefined"><img
                                                  src="http://placehold.it/25/663399" alt=""></a></th>
                                          <th class="menu-item float-center"><a href="undefined"><img
                                                  src="http://placehold.it/25/663399" alt=""></a></th>
                                          <th class="menu-item float-center"><a href="undefined"><img
                                                  src="http://placehold.it/25/663399" alt=""></a></th>
                                          <th class="menu-item float-center"><a href="undefined"><img
                                                  src="http://placehold.it/25/663399" alt=""></a></th>
                                        </tr>
                                      </table>
                                    </td>
                                  </tr>
                                </table>
                              </center>
                            </th>
                            <th class="expander"></th>
                          </tr>
                        </table>
                      </th>
                    </tr>
                    </tbody>
                  </table>
          
                </td>
              </tr>
              </tbody>
            </table>
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>